extends layout

block content
  div(class='myDiv')
    span(id='box')
      img(src='https://randomuser.me/api/portraits/med/women/1.jpg')
      span(id='textBox')
        p(id='name') Random User #1
        p(id='info') User Description #1
  div(class='myDiv')
    span(id='box')
      img(src='https://randomuser.me/api/portraits/med/women/2.jpg')
      span(id='textBox')
        p(id='name') Random User #2
        p(id='info') User Description #2
  div(class='myDiv')
    span(id='box')
      img(src='https://randomuser.me/api/portraits/med/women/3.jpg')
      span(id='textBox')
        p(id='name') Random User #3
        p(id='info') User Description #3
  div(class='myDiv')
    span(id='box')
      img(src='https://randomuser.me/api/portraits/med/women/4.jpg')
      span(id='textBox')
        p(id='name') Random User #4
        p(id='info') User Description #4
  div(class='myDiv')
    span(id='box')
      img(src='https://randomuser.me/api/portraits/med/women/5.jpg')
      span(id='textBox')
        p(id='name') Random User #5
        p(id='info') User Description #5


